<template>
    <section id="book" ref="book">
        <div>
            <button ref="close"><i class="las la-times"></i></button>
            <client-only>
                <RenderBookingScript :venue="venue" />
            </client-only>
        </div>
    </section>
</template>

<style scoped>
    button {
        position: fixed;
        top: -0.5rem;
        right: -0.5rem;
        background: none;
        border: none;
        color: #fff;
        z-index: 10;
        font-size: 1rem;
        text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 3px;
    }
    #book {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9;
        top: 0;
        left: 0;
        backdrop-filter: blur(3px);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-out;
    }
    #book.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
</style>

<style>
    #book > div {
        width: auto;
        max-width: 600px;
        max-height: 700px;
        background: var(--theme-colour);
        padding: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: rgba(0, 0, 0, 1) 0px 0px 5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
    @media (max-width: 768px) {
        #book > div {
            padding: 0.5rem;
        }
    }

#book .dmn-form {
    width: 100%;
    border: none;
    box-sizing: border-box;
    color: #fff;
}
#book .dmn-form input, #book .dmn-form select {
    width: 100%;
    box-sizing: border-box;
}
#book .dmn-form img {
    max-width: 200px;
    margin: 0 auto;
}
</style>

<script>
export default {
    props: ['venue'],
    mounted() {
        const book = this.$refs.book;
        this.$refs.close.addEventListener('click', function(e) {
            e.preventDefault();
            book.classList.remove('active');
        });
    },
}
</script>