<template>
    <div>
      <button ref="book_button">Book</button>
      <!--<a class="scrollTo" href="#christmas" title="Christmas">Christmas</a>-->
    </div>
</template>

<style scoped>
button, a {
  position: fixed;
  z-index: 10;
  top: 8rem;
  right: -1.25rem;
  transform: rotate(-90deg);
  /*background: var(--theme-colour);*/
  color: #fff;
  padding: 0.5rem 1rem;
  background: #986505;
}
a {
  background: rgb(83, 4, 4);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  right: -2.5rem;
  top: 15rem;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  border: #fff 1px solid;
}
@media (max-width: 768px) {
    button, a {
        display: none;
    }
}
</style>

<script>
export default {
  mounted() {
    this.$refs.book_button.addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#book').classList.toggle('active');
    });
  },
}
</script>