<template>
    <button ref="button">Christmas</button>
</template>

<style scoped>
button {
  position: fixed;
  z-index: 10;
  top: 15rem;
  right: -2.3rem;
  transform: rotate(-90deg);
  background: #1e792c;
  color: #fff;
  padding: 0.5rem 1rem;
}
@media (max-width: 768px) {
    button {
        display: none;
    }
}
</style>

<script>
export default {
  mounted() {
    this.$refs.button.addEventListener('click', function(e) {
        e.preventDefault();
        const target  = document.querySelector('#christmas');
        const yOffset = document.querySelector('nav').clientHeight;
        const y       = target.getBoundingClientRect().top + window.pageYOffset - yOffset;
        window.scrollTo({top: y, behavior: 'smooth'});
        mobile_nav.classList.remove('active');
    });
  },
}
</script>