<template>
    <footer id="footer">
        <template v-if="venue">
            <div class="grid">
                <Organisation :venue="venue" :home="home" />
                <Organisation :home="home" />
            </div>
        </template>
        <template v-else>
            <Organisation :home="home" />
        </template>
        <client-only>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPMKFJH9XR"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-PPMKFJH9XR');
            </script>
        </client-only>
    </footer>
</template>

<style scoped>
footer {
  padding: 2.5rem 0;
  background: var(--theme-colour);
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
}
footer img {
  max-width: 150px;
  margin: 0 auto 0.5rem auto;
}
footer .grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
@media (max-width: 500px) {
    footer .grid {
        grid-template-columns: 1fr 1fr;
    }
}
</style>

<script>
export default {
    props: ["venue", "home"]
}
</script>