<template>
    <header>
        <nuxt-img :src="image" :alt="name" />
    </header>
</template>

<style scoped>
header {
    max-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header img, header picture {
    position: fixed;
    object-fit: cover;
    object-position: center center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: zoom 60s ease-out;
    animation-fill-mode: forwards;
}

header picture img {
    display: none;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}
</style>

<script>
export default {
    props: ["image", "name"]
}
</script>