<template>
    <nav ref="nav">

        <div v-if="venue">
            <div class="full">
                <a href="/#bars" title="We are bar">We Are Bar</a>
                <a href="#menus" class="scrollTo" title="Menus">Menus</a>
                <a :href="venueSlug" class="logo" :title="venue.title"><nuxt-img :src="venue.logo" :alt="venue.title" /></a>
                <a href="#whats-on" class="scrollTo" title="What's On">What's On / Private Hire</a>
                <a href="#contact" class="scrollTo" title="Contact Us">Contact Us</a>
            </div>
            <div class="mobile">
                <a :href="venue.slug" class="logo" :title="venue.title"><nuxt-img :src="venue.logo" :alt="venue.title" /></a>
                <button><i class="las la-bars"></i> Menu</button>
                <div class="mobile-nav">
                    <a href="/#bars" title="We are bar">We Are Bar</a>
                    <a href="#menus" class="scrollTo" title="Menus">Menus</a>
                    <a href="#whats-on" class="scrollTo" title="What's On">What's On / <br />Private Hire</a>
                    <a href="#contact" class="scrollTo" title="Contact Us">Contact Us</a>
                    <button ref="book">Book</button>
                    <!--<a href="#christmas" class="scrollTo button christmas" title="Christmas">Christmas</a>-->
                </div>
            </div>
        </div>

        <div v-else>
            <div class="full">
                <a href="#bars" class="scrollTo" title="Our Bars">Our Bars</a>
                <a href="#private-hire" class="scrollTo" title="Private Hire">Private Hire</a>
                <a href="/" class="logo" title="We Are Bar"><nuxt-img src="/img/logo.png" alt="We Are Bar" /></a>
                <a href="#signup" class="scrollTo" title="Sign Up">Sign Up</a>
                <a href="#footer" class="scrollTo" title="Contact Us">Contact Us</a>
            </div>
            <div class="mobile">
                <a href="/" class="logo" title="We Are Bar"><nuxt-img src="/img/logo.png" alt="We Are Bar" /></a>
                <button><i class="las la-bars"></i> Menu</button>
                <div class="mobile-nav">
                    <a href="#bars" class="scrollTo" title="Our Bars">Our Bars</a>
                    <a href="#private-hire" class="scrollTo" title="Private Hire">Private Hire</a>
                    <a href="#signup" class="scrollTo" title="Sign Up">Sign Up</a>
                    <a href="#footer" class="scrollTo" title="Contact Us">Contact Us</a>
                    <button ref="book" style="display: none;">Book</button>
                    <!--<a href="#christmas" class="scrollTo button christmas" title="Christmas">Christmas</a>-->
                </div>
            </div>
        </div>
        
    </nav>
</template>

<style scoped>
.mobile {
    display: none;
}

nav {
    padding: 0.75rem 0 0.5rem 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out;
    z-index: 3;
}

nav:after {
    background: linear-gradient(180deg, rgba(49, 49, 49, 0.89), transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: '';
    top: 0;
    left: 0;
}

nav:before {
    background: var(--theme-colour);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

nav.scrolled:before {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2.5rem;
}

nav div {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 4;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
}

nav .full a:not(.logo) {
    position: relative;
    top: -0.5rem;
    display: block;
    width: 7rem;
    text-align: center;
}

.logo {
    max-width: 150px;
}

.mobile {
    display: none;
}

@media (max-width: 768px) {
    .full {
        display: none;
    }
    .mobile {
        display: flex;
        justify-content: space-between;
        z-index: 4;
        align-items: center;
    }
    .mobile-nav {
        position: fixed;
        display: block;
        width: 250px;
        text-align: center;
        background: #666;
        transform: translatex(100%);
        transition: transform 0.3s ease-out;
        z-index: 1;
        top: 0;
        right: 0;
        padding-top: 4rem;
        height: 100vh;
    }
    .mobile-nav:before {
        content: '';
    }
    .mobile-nav.active {
        transform: translatex(0);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5rem;
    }
    .mobile-nav a {
        display: block;
        top: inherit;
        padding: 1rem 0;
    }
    button, .button.christmas {
        display: inline-block;
        font-size: 0.7rem;
        letter-spacing: 2px;
        margin: 0;
        padding: 0.5rem 1rem;
        position: relative;
        z-index: 2;
    }
    .button.christmas {
        background: #1e792c;
    }
    .mobile-nav button {
        margin: 1rem auto;
    }
}

</style>

<script>
export default {
    computed: {
        venueSlug: {
            get() {
                return `/${this.venue.slug}`;
            }
        }
    },
    mounted() {
        this.checkScroll();
        const scrolls = this.$refs.nav.querySelectorAll('a.scrollTo');
        const mobile_nav = this.$refs.nav.querySelector('.mobile-nav');
        for (let index in scrolls) {
            const scroll_to = scrolls[index];
            if (scroll_to.tagName == "A" && scroll_to.href) {
                scroll_to.addEventListener('click', function(e) {
                    e.preventDefault();
                    const target  = document.querySelector(this.hash);
                    const yOffset = document.querySelector('nav').clientHeight;
                    const y       = target.getBoundingClientRect().top + window.pageYOffset - yOffset;
                    window.scrollTo({top: y, behavior: 'smooth'});
                    mobile_nav.classList.remove('active');
                });
            }
        }
        this.$refs.nav.querySelector('button').addEventListener('click', function(e) {
            e.preventDefault();
            mobile_nav.classList.toggle('active');
        });
        this.$refs.book.addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#book').classList.add('active');
        });
    },
    beforeMount() {
        window.addEventListener('scroll', this.checkScroll);
    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.checkScroll);
    },
    methods: {
        checkScroll: function() {
            let y = window.scrollY;
            if (y > 0) this.$refs.nav.classList.add('scrolled');
            else this.$refs.nav.classList.remove('scrolled');
        }
    },
    props: ["venue"],
}
</script>