<template>
    <section id="alternating" v-if="content" :class="venue ? 'venue' : 'padding'">
        <div v-for="section, index in content" :key="index" :id="venue ? 'whats-on' : ''">
            <div>
                <h2>{{ section.title }}</h2>
                <div v-html="$md.render(section.description)"></div>
            </div>
            <nuxt-img :src="section.image" :alt="section.title" loading="lazy" />
        </div>
        <div id="signup">
            <div>
                <h2>Sign Up</h2>
                <client-only v-if="venue && venue.title == 'Tudor St'">

                    <div id="mc_embed_shell">
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{}
                            #mc_embed_signup .helper_text {background-color: transparent;}
                        </style>
                        <div id="mc_embed_signup">
                            <form action="https://wearebarcollective.us21.list-manage.com/subscribe/post?u=4847a41b617396e4d6198d2b2&amp;id=cbf25a20a0&amp;f_id=009bf7e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2>Sign Up For Here For Your Tasty Tenner</h2>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div><div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value=""></div><div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="" required=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text" name="b_4847a41b617396e4d6198d2b2_cbf25a20a0" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COUPON';ftypes[6]='imageurl';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    </div>

                </client-only>
                <client-only v-else>
                    <script async src="https://eomail1.com/form/eb6847ec-1ad7-11ec-96e5-06b4694bee2a.js" data-form="eb6847ec-1ad7-11ec-96e5-06b4694bee2a"></script>
                </client-only>
            </div>
            <nuxt-img :src="venue && venue.title == 'Ludgate Hill' ? '/img/ludgate/pool.jpg' : '/img/portrait.jpeg'" alt="Sign Up" loading="lazy" />
        </div>
        <!--<div id="christmas" style="position: relative; padding: 2.5rem; background: #b11e31;">
            <canvas style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; pointer-events: none;"></canvas>
            <div>
                <h2>Christmas<span v-if="venue"> at {{ venue.title }}</span></h2>
                <p>This year immerse yourself in the spirit of Christmas. Tickle your taste buds with a feast complete with all the trimmings. Party with your colleagues, friends or loved ones with drinks and a glorious buffet.</p>
                <p>Whether it’s a standing drinks reception or a seated Christmas meal you’re after, we’ve got the festive packages to suit both small groups and corporate hires.</p>
                <p>Contact our events team or make a booking directly online and we will organise your best Christmas party ever!</p>
                <a href="/menus/Christmas.pdf" alt="Christmas" class="button" style="background: #1e792c; display: inline-block; margin: 1rem auto;">Christmas Brochure</a>
            </div>
            <nuxt-img src="/img/christmas.jpg" alt="Christmas" loading="lazy" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="/js/christmas.js"></script>
        </div>-->
    </section>
</template>

<style scoped>
#alternating {
    padding: 2.5rem 1.5rem;
    max-width: 60rem;
    margin: 0 auto;
}

#alternating.venue {
    background: var(--theme-colour);
    color: #fff;
    max-width: inherit;
}

#alternating>div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid var(--theme-colour);
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
}

#alternating.venue>div {
    border-bottom: 1px #fff solid;
}

#alternating>div:nth-child(2n) img {
    grid-column: 1;
}

@media (max-width: 768px) {
    #alternating>div {
        grid-auto-columns: inherit;
        grid-auto-flow: row;
    }

    #alternating>div img {
        grid-row: 1;
    }
}

#alternating>div:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

#alternating h2 {
    margin-top: 0;
}

#alternating p {
    margin-bottom: 0;
}

#christmas {
    color: #fff;
}
</style>

<script>
export default {
    props: ["content", "venue"],
};
</script>