<template>
    <section id="contact" class="padding">
        <h1>Contact Us</h1>
        <div class="grid">
            <div>
                <div v-if="venue.contact.address">
                    <h2>Address</h2>
                    <address>
                        {{ venue.contact.address.streetAddress }},<br />
                        {{ venue.contact.address.addressLocality }}, {{ venue.contact.address.addressRegion }}, {{ venue.contact.address.postalCode }}
                    </address>
                    <h2>Contact</h2>
                    <p>
                        <a v-if="venue.contact.email" :href="email" :title="venue.contact.email">{{ venue.contact.email }}</a><br>
                        <a v-if="venue.contact.phone" :href="telephone" :title="venue.contact.phone">{{ venue.contact.phone }}</a>
                    </p>
                </div>
                <div v-if="venue.contact.opening_hours">
                    <h2>Opening Hours</h2>
                    <p class="opening-hours">
                        <span v-for="days in venue.contact.opening_hours">
                            <span>{{ days.day }}</span>
                            <span>{{ days.from }} - {{ days.to }}</span>
                        </span>
                    </p>
                </div>
            </div>
            <div v-html="$md.render(venue.contact.aside)"></div>
        </div>
    </section>
</template>

<style scoped>
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}
.opening-hours > span {
    display: block;
}
</style>

<script>
export default {
  props: ["venue"],
  computed: {
      telephone: {
          get: function() {
              return `tel:${this.venue.contact.phone}`;
          }
      },
      email: {
          get: function() {
              return `mailto:${this.venue.contact.email}`;
          }
      }
  }
};
</script>