<template>
    <section id="gallery" class="padding" v-if="header && images">
        <h1>{{ header }}</h1>
        <div id="gallery-images">
            <template v-for="image, index in images">
                <nuxt-img :src="image.image" :alt="image.name" :key="index" />
            </template>
        </div>
    </section>
</template>

<style scoped>
#gallery-images {
    column-count: 3;
    column-gap: 1rem;
}
img {
    display: inline;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    #gallery-images {
        column-count: 1;
    }
}
</style>

<script>
export default {
  props: ["header", "images"],
};
</script>