<template>
    <section class="interstital" v-if="content">
        <nuxt-img v-if="content.background" :src="content.background" alt="Bar" loading="lazy" />
        <div v-html="$md.render(getContent)"></div>
    </section>
</template>

<style scoped>
.interstital {
    padding: 1.5rem 1.5rem;
    color: #fff;
    background-color: var(--theme-colour);
    position: relative;
}
.interstital img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top left;
    z-index: 0;
}
.interstital div {
    position: relative;
    z-index: 1;
}
</style>

<script>
export default {
  props: ["content"],
  computed: {
      getContent: {
          get: function() {
              if (typeof this.content === 'object' && this.content !== null) return this.content.description
              return this.content;
          }
      }
  }
};
</script>