<template>
    <section id="menus" v-if="menus">
        <nuxt-img v-if="menus.image" :src="menus.image" alt="Menus" loading="lazy" />
        <h1 v-if="menus.title">{{ menus.title }}</h1>
        <h1 v-else>Food & Drink</h1>
        <div class="grid">
            <a
                class="button"
                :href="menu.file"
                :title="menu.name"
                v-for="menu in menus.menus"
            >{{ menu.name }}</a>
        </div>
    </section>
</template>

<style scoped>
section {
    position: relative;
    background: var(--theme-colour);
    padding: 2.5rem 0;
    color: #fff;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
    filter: brightness(75%);
}
section h1, section div {
    position: relative;
    z-index: 1;
}
h1 {
    margin-top: 0;
    margin-bottom: 2.5rem;
}
section div {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
section div a.button {
    display: flex;
    width: 30%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    section div {
        display: block;
    }
    section div a.button {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}
</style>

<script>
export default {
    props: ["menus"]
}
</script>