<template>
    <div id="modal" :class="isNewVisit()" ref="modal">
        <div>
            <button ref="close" class="close"><i class="las la-times"></i></button>
            <h2>{{ content.title }}</h2>
            <div v-html="content.content"></div>
            <p><a :href="content.link" class="button" ref="button">Sign up now</a></p>
        </div>
    </div>
</template>

<style scoped>
#modal {
    display: none;
}
#modal.active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
#modal > div {
  position: absolute;
  width: 90%;
  max-width: 600px;
  text-align: center;
  color: #fff;
  background-color: var(--theme-colour);
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2.5rem;
}
#modal > div h2 {
  margin-top: 0;
}
#modal > div button.close {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background: none;
    border: none;
    color: #fff;
    z-index: 10;
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 3px;
}
</style>

<script>
export default {
    props: ['content'],
    methods: {
        isNewVisit: function() {
            if (process.browser) {
                const now       = Date.now();
                const six_hours = 21600000;
                let active = localStorage.getItem('active');
                // if never opened
                // or if active exists and is six hours older than now
                if (!active || (active && (parseInt(active) + six_hours) < now)) {
                    localStorage.setItem('active', now);
                    return 'active';
                }
                return '';
                
            }
            return '';
        }
    },
    mounted() {
        let self = this;
        this.$refs.close.addEventListener('click', function() {
            self.$refs.modal.classList.remove('active');
        });
        this.$refs.button.addEventListener('click', function() {
            self.$refs.modal.classList.remove('active');
        });
    }
};
</script>