<template>
    <div itemscope :itemtype="itemType">
        <nuxt-img :src="logo" :alt="name" itemprop="logo" loading="lazy" />
        <p itemprop="name">{{ name }}</p>
        <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ streetAddress }}</span>,<br />
            <span v-if="addressLocality"><span itemprop="addressLocality">{{ addressLocality }}</span>, </span><span itemprop="addressRegion">{{ addressRegion }}</span>, <span itemprop="postalCode">{{ postalCode }}</span>
        </address>
        <span v-if="venue" itemprop="parentOranization" class="meta"><span itemprop="name">We Are Bar</span></span>
        <div class="social" v-if="socialIcons">
            <a v-if="socialIcons.facebook" :href="socialIcons.facebook" title="Facebook" rel="nofollow" target="_blank"><i class="lab la-facebook"></i></a>
            <a v-if="socialIcons.twitter" :href="socialIcons.twitter" title="Twitter" rel="nofollow" target="_blank"><i class="lab la-twitter-square"></i></a>
            <a v-if="socialIcons.instagram" :href="socialIcons.instagram" title="Instagram" rel="nofollow" target="_blank"><i class="lab la-instagram"></i></a>
            <a v-if="socialIcons.linkedin" :href="socialIcons.linkedin" title="Linkedin" rel="nofollow" target="_blank"><i class="lab la-linkedin"></i></a>
            <a v-if="socialIcons.email" :href="socialIcons.email" title="Email" rel="nofollow" target="_blank"><i class="las la-envelope"></i></a>
        </div>
    </div>
</template>

<style scoped>
.meta {
    display: none;
}
img {
    max-width: 150px;
}
.social a {
    display: inline-block;
    margin: 1rem 2px 0 2px;
    color: #fff;
}
</style>

<script>
export default {
    computed: {
        itemType: {
            get: function() {
                return this.venue ? "https://schema.org/LocalBusiness" : "https://schema.org/Organization";
            }
        },
        logo: {
            get: function() {
                return this.venue ? this.venue.logo : "/img/logo.png";
            }
        },
        name: {
            get: function() {
                return this.venue ? this.venue.title : "We Are Bar";
            }
        },
        streetAddress: {
            get: function() {
                return this.venue ? this.venue.contact.address.streetAddress : "17 Hanover Square";
            }
        },
        addressLocality: {
            get: function() {
                return this.venue ? this.venue.contact.address.addressLocality : "";
            }
        },
        addressRegion: {
            get: function() {
                return this.venue ? this.venue.contact.address.addressRegion : "London";
            }
        },
        postalCode: {
            get: function() {
                return this.venue ? this.venue.contact.address.postalCode : "W1S 1BN";
            }
        },
        socialIcons: {
            get: function() {
                return this.venue ? this.venue.social : this.home.social;
            }
        },
    },
    props: ["venue", "hide_logo", "home"]
}
</script>, London 