<template>
    <div v-if="venue && venue.booking" v-html="this.$md.render(this.venue.booking)"></div>
    <div v-else>
        <script src="//partners.designmynight.com/pf/js?venue_id=59c282bda974e96bb93c4fb4,5540ee8f17eeb9265fb22616,512b2036d5d190d2978ca568,512b2037d5d190d2978ca56c,5396d7166c4f068e7428c1dd,51ffce920df690874a000868,5540e7592b588fee33268583,512b2037d5d190d2978ca56a,5395d2d30df690a5037814fa&amp;allow_any=false&amp;type=555a5caf17eeb9cd3f98174b" id="dmn-js"></script>
    </div>
</template>

<script>
export default {
    props: ['venue'],
    mounted() {
        if (this.venue && this.venue.booking) this.nodeScriptReplace(book);
    },
    // omg https://stackoverflow.com/questions/1197575/can-scripts-be-inserted-with-innerhtml
    methods: {
        nodeScriptReplace: function(node) {
            if ( this.nodeScriptIs(node) === true ) {
                node.parentNode.replaceChild( this.nodeScriptClone(node) , node );
            }
            else {
                var i = -1, children = node.childNodes;
                while ( ++i < children.length ) {
                    this.nodeScriptReplace( children[i] );
                }
            }
            return node;
        },
        nodeScriptClone: function(node) {
            var script  = document.createElement("script");
            script.text = node.innerHTML;
            var i = -1, attrs = node.attributes, attr;
            while ( ++i < attrs.length ) {                                    
                script.setAttribute( (attr = attrs[i]).name, attr.value );
            }
            return script;
        },
        nodeScriptIs: function(node) {
            return node.tagName === 'SCRIPT';
        }
    }
}
</script>