<template>
    <section id="bars" class="padding">
        <template v-for="section, index in sections">
            <div v-if="section.title" :key="index">
                <h1>{{ section.title }}</h1>
                <div v-html="$md.render(section.description)"></div>
                <div v-if="section.venues" class="venues">
                    <div v-for="venue, key in section.venues" :key="key" class="venue">
                        <div class="image">
                            <nuxt-img :src="venue.image" :alt="venue.name" loading="lazy" />
                            <a :href="venue.url" :title="venue.name" class="button">Visit</a>
                        </div>
                        <h2><a :href="venue.url" :title="venue.name">{{ venue.name }}</a></h2>
                        <div class="venue-description" v-html="$md.render(venue.description)"></div>
                    </div>
                </div>
            </div>
        </template>
    </section>
</template>

<style scoped>
#bars {
    max-width: 60rem;
    margin: 0 auto;
}
.venues {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
    margin-top: 2.5rem;
}
.venues h2 {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .venues {
        grid-template-columns: 1fr;
    }
}
.venues div .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.venues a {
    text-decoration: none;
}

.venues a p {
    text-transform: inherit;
}

.venues div .image img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    transition: transform 3s ease-out;
    width: 100%;
    height: 100%;
}

.venues div .image:hover img {
    transform: scale(1.25);
}

.venues div .image .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    padding: 0.5rem 1rem;
}

.venues div .image .button:hover {
    background: rgba(255, 255, 255, 0.9);
}
</style>
<style>
.venue-description p {
    font-size: 0.75rem;
    margin: 0;
}
</style>

<script>
export default {
    props: ["sections"]
}
</script>
