@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Lato:wght@300&display=swap');

:root {
    --theme-colour: rgb(3, 53, 64);
    --font-size: 22px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
    color: var(--theme-colour);
    background-color: #fff;
    overflow-x: hidden;
}

button, a.button {
    color: #fff;
    padding: 1rem;
    display: block;
    border: 1px solid #fff;
    text-transform: uppercase;
    background: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

button.book {
    background: #986505;
}

button.secondary, a.button.secondary {
    background: #9b1414;
}

button:hover, a.button:hover {
    background: #fff;
    color: var(--theme-colour);
}

a {
    color: var(--theme-colour);
}

hr {
    background: var(--theme-colour);
    border: none;
}

main {
    text-align: center;
    position: relative;
    z-index: 1;
    background: #fff;
}

main p {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6rem;
}

main section.padding {
    padding: 2.5rem;
}

main section > div:first-of-type h1, main section > h1:first-child {
    margin-top: 0;
}

main section > div:last-of-type > p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 3px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h2 {
    letter-spacing: 2px;
    font-size: 1.25rem;
}

img {
    width: 100%;
}

.responsive-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}
  
.responsive-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}