<template>
  <div>
    <LayoutNav :venue="venue" />
    <LayoutHeader :image="venue.header" :name="venue.title" />
    <main>
      <Interstital :content="venue.exposition" />
      <Menus :menus="venue.menus" />
      <!--<Christmas v-if="venue.christmas" :christmas="venue.christmas" />-->
      <Gallery header="Gallery" :images="venue.gallery" />
      <Alternating :venue="venue" :content="venue.extra" />
      <Contact :venue="venue" />
    </main>
    <LayoutFooter :venue="venue" :home="home" />
    <LayoutBook :venue="venue" />
    <LayoutBookButton />
    <!--<LayoutChristmasButton /> -->
    <Modal v-if="venue.modal" :content="venue.modal"/>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params, error }) {
    let venue, home;
    try {
      venue = await $content("venues", params.slug).fetch();
      home = await $content('home').fetch();
    }
    catch (e) {
      error({ message: "Venue not found" });
    }
    return {venue: venue, home: home};
  },
  head() {
    return {
      title: this.venue.title + " - We Are Bar Collective",
    }
  },
};
</script>