<template>
  <div>
    <LayoutNav />
    <LayoutHeader :image="home.header" name="We Are Bar" />
    <main>
      <Venues :sections="home.bars" />
      <section id="private-hire">
        <Interstital :content="home.interstital1" />
      </section>
      <Alternating :content="home.alternating" />
      <Interstital :content="home.interstital2" />
      <Gallery :header="home.gallery_header" :images="home.gallery_images" />
    </main>
    <LayoutFooter :home="home" />
    <!--<LayoutChristmasButton />-->
    <!--<Modal />-->
  </div>
</template>

<script>
export default {
  head() {
    return {
      script: [{ src: 'https://identity.netlify.com/v1/netlify-identity-widget.js' }],
    };
  },
  async asyncData({ $content }) {
    const home = await $content('home').fetch();
    return {
      home: home,
    };
  },
};
</script>
